/* This is part of my Vencord Quick CSS */
/* Code isn't fully mine, I have modified and added upon it from code via the Vencord discord. */
/* Feel free to use it by entering the following at the top of your QuickCSS file or OpenAsar theme */
/*  */
/* @import url(https://raw.githubusercontent.com/axxg3l/axxg3l/main/discordQuickCSS.css); */
/*  */

@import url(//mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/base/Apple.css);
@import url(///dablulite.github.io/css-snippets/BetterNitroProfileBorder/import.css/);
@import url(//dablulite.github.io/css-snippets/DeclutterBar/import-trafficlights.css);
@import url(///dablulite.github.io/css-snippets/SpotifyActivityRedesign/import.css/);
@import url(///dablulite.github.io/css-snippets/BetterStatusPicker/import.css/);
@import url(//dablulite.github.io/css-snippets/AccountDetailsGrid/import.css);

/* Adds a bit more padding after the "Spotify Activity Redesign" */
#vc-spotify-player {
  padding: 0.875rem 0.5rem !important;
} 

/* Add danger colours to dangerous user actions */
#user-context-close-dm, #user-context-remove-friend, #user-context-block { color: var(--status-danger) }
#user-context-close-dm:active, #user-context-remove-friend:active, #user-context-block:active {
    background-color: var(--red-500)!important;
    color: var(--white-500)!important;    
}
#user-context-close-dm[class*="focused-"], #user-context-remove-friend[class*="focused-"], #user-context-block[class*="focused-"] {
    background-color: var(--button-danger-background);
    color: var(--white-500);   
}

/* Hides the buttons on the text input bar when window is too small */
.chatContent-3KubbW { 
    container-type: inline-size;
    container-name: chat;
}
@container chat (max-width: 500px) {
    .chatContent-3KubbW .buttons-uaqb-5 {
        display: none;
    } 
} /* ignore santax errors, it is perfectly fine */

/* Hide Discord account information, simpler */
[class^="userSettingsSecurity-"] [class*="description-"] { display: none; }
[class^="accountProfileCard"] [class*="fieldSpacer"] span:has(button[aria-label^="Reveal"]) { -webkit-text-security: disc; }
[class^="accountProfileCard"] [class*="fieldSpacer"] span button { -webkit-text-security: none; }
.container-1zzFcN > div:nth-child(2) {
    justify-content: space-between;
    max-height: 0;
    overflow: hidden;
    transition-property: max-height;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}
.container-1zzFcN:hover > div:nth-child(2) {
    max-height: 32px;
}
.container-1zzFcN > div:nth-child(2) > button {
    width: 100%;
}

/* This edits the "Declutter Bar" theme and removes the discord text branding only leaving the logo. */
.children-3xh0VB > .hiddenVisually-39QJvl:first-of-type::after {
    content: "";
    display: flex;
    width: fit-content;
    font-size: 12px;
    font-family: var(--font-display);
    font-weight: 700;
    color: var(--header-primary);
}
